<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Client Feedback</title>
  </head>
  <body>
    <h1>Client Feedback</h1>
    <form action="/feedback/" method="POST">
      {% csrf_token %}
      <input name="name" placeholder="Your Name" /><br />
      <input name="email" placeholder="Your Email" /><br />
      <textarea name="feedback" placeholder="Your Feedback"></textarea><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
